{% extends 'aoneedu/base.html' %}

{% block title %} A1 {% endblock %}
{% load static %}





{% block content %}
<div class="container-sm text-center text-white mt-3">

  <h1 class="fs-1 fw-bolder" style="color: #fcc63e; text-shadow: #490000 2px 2px;"> WELCOME TO</h1>
  <h1 class="fs-1 fw-bolder" style="color: #a6ff00; text-shadow: #320074 3px 3px;"> A1 EDUCATIONAL</h1>
  <h2 class="fs-1 fw-bolder" style="color: #a6ff00; text-shadow: #320074 3px 3px;">School of Basic, Preliminary & Advanced Level Studies</h2>

</div>

<div class="container-sm text-center text-white">

  <h2 class="fs-1 fw-bolder mt-5" style="background-color: #5e90ec; background-image: linear-gradient(#dd0000, #00ce00); background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; text-shadow: #dbd800 2px 3px;"> OUR SERVICES </h2>
  
</div>


<div class="container-sm text-center text-white pt-5">

  <h2 class="fs-1 fw-bolder" style="text-shadow :#00411b 3px 3px;"> EXAM REGISTRATION</h2>
</div>
 
<div class="row m-5 justify-content-center gy-1">
    <div class="col-sm-3 mb-sm-0">
      <div class="card text-center">
        <img src="{% static 'images/jamb.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">JAMB</h5>
          <p class="card-text fw-bolder">Joint Admission and Matriculation Board.</p>
          <a href="/reg" class="btn btn-primary fw-bolder">REGISTER WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center">
        <img src="{% static 'images/Waec.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">WAEC</h5>
          <p class="card-text fw-bolder">West African Examination Council.</p>
          <a href="/reg" class="btn btn-primary fw-bolder">REGISTER WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center">
        <img src="{% static 'images/c4.webp' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">NECO</h5>
          <p class="card-text fw-bolder">National Examination Council.</p>
          <a href="/reg" class="btn btn-primary fw-bolder">REGISTER WITH US</a>
        </div>
      </div>
    </div>
  </div>
 
<div class="row m-5 justify-content-center gy-1">
    <div class="col-lg-3 col-12 mb-3 mb-sm-0">
      <div class="card text-center">
        <img src="{% static 'images/c1.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">JUPEB </h5>
          <p class="card-text fw-bolder">The Joint Universities Preliminary Examinations Board (JUPEB) is a national examination body that conducts examinations for students seeking admission into Nigerian universities. Our JUPEB registration service ensures a seamless and stress-free registration process. <br>
          Benefits: Guaranteed admission into Nigerian universities, flexible payment plans, and expert guidance</p>
          <a href="/reg" class="btn btn-primary fw-bolder">REGISTER WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card text-center">
        <img src="{% static 'images/c6.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">IJMB</h5>
          <p class="card-text fw-bolder">Interim Joint Matriculation Board (IJMB), is a federal government-approved program in Nigeria that provides an alternative pathway for students seeking admission into tertiary institutions without taking the Joint Admissions and Matriculation Board (JAMB) examination. <br>
          Benefits: Guaranteed admission into Nigerian universities, flexible payment plans, and expert guidance</p>
          <a href="/reg" class="btn btn-primary fw-bolder">REGISTER WITH US</a>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-center text-white">Training Courses</h3>
  <h4 class="text-center text-white">Acquire Skills For 21st Century</h4>
  <p class="text-center text-white">We offer a range of training courses to help you develop in-demand skills and advance your career. Our courses include:</p>
 
<div class="row m-5 justify-content-center gy-1">
    <div class="col-lg-3 col-12 mb-1 mb-sm-0">
      <div class="card text-center">
        <img src="{% static 'images/t1.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">CODING & WEB DEVELOPMENT</h5>
          <p class="card-text fw-bolder">Learn to build dynamic websites and applications with our coding and web development course. Our expert instructors will guide you through the latest technologies and trends</p>
          <a href="/courses" class="btn btn-primary fw-bolder">STUDY WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card text-center">
        <img src="{% static 'images/t3.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">AI & SOCIAL MEDIA MANAGEMENT</h5>
          <p class="card-text fw-bolder">Stay ahead of the curve with our AI and social media management course. Learn to leverage AI tools and social media platforms to drive business growth and success.</p>
          <a href="/courses" class="btn btn-primary fw-bolder">STUDY WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card text-center">
        <img src="{% static 'images/t4.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">CYBER SECURITY</h5>
          <p class="card-text fw-bolder">Protect your digital assets with our cyber security course. Learn to identify and mitigate cyber threats, and develop a career in this in-demand field.</p>
          <a href="/courses" class="btn btn-primary fw-bolder">STUDY WITH US</a>
        </div>
      </div>
    </div>
  </div>

<div class="row m-5 justify-content-center">
    <div class="col-lg-3 mb-3 mb-sm-0">
      <div class="card text-center">
        <img src="{% static 'images/t6.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">ETHICAL HACKING</h5>
          <p class="card-text fw-bolder">Learn to identify and exploit vulnerabilities with our ethical hacking course. Our expert instructors will guide you through the latest techniques and tools.</p>
          <a href="/courses" class="btn btn-primary fw-bolder">STUDY WITH US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card text-center">
        <img src="{% static 'images/t5.jpg' %}" class="card-img-top" width="150" height="200" alt="..."> 
        <div class="card-body">
          <h5 class="card-title fw-bolder">GRAPHICS DESIGNS</h5>
          <p class="card-text fw-bolder">Unleash your creativity with our graphic design course. Learn to create stunning visuals and develop a career in this in-demand field.</p>
          <a href="/courses" class="btn btn-primary fw-bolder">STUDY WITH US</a>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}

