{% extends 'aoneedu/base.html' %}
{% load static %}

{% block title %} SIGNUP {% endblock %}


{% block sigupone %}
{% endblock %}

{% block content %}

<div class="container" style="width: 450px; height: 10px;">

    <h2 class="text-center pt-5 fw-bolder"> Signup with <br>A1 Educational...</h2>

    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row gy-2 p-2 m-2 justify-content-center">
            <div class="col-12"><input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" autofocus></div>
            <div class="col-12"><input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"></div>
            <div class="col-12"><input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required></div>
            <div class="col-12"><input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required></div>

                
            {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color: #ff0000;">{{error}}</p>
                {% endfor %}
        
            </p>
            {% endfor %}
        
            {% if registration.non_field_errors %}
            <div style="color: #ff0000;">
                <p>{{registration.non_field_errors}}</p>
            </div>
        
            {% endif %}
        
            <button type="submit" class="btn btn-lg btn-primary col-5 text-center fw-bold">Register</button>
            
            </div>
    
    </form>

</div>


{% endblock %}

{% block footer %}
<div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-bottom">
  
  <a class="navbar-brand p-3" href="/"><img src="{% static 'images/aonelogo.jpeg' %}" alt="" class="img-thumbnail" width="56" height="50"></a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2 mt-3">
    <li class="nav-item">
      <a class="nav-link active fw-bolder" aria-current="page" href="/aboutus" >About Us</a>
    </li>
  </ul>

  <ul class="navbar-nav gap-2 mt-lg-0 mt-3 mx-2 my-2">
    <li class="nav-item">
      <h4 class="text-white">Contact Us:</h4>
      <i class="bi bi-telephone-fill text-primary fs-4 m-2">08022807672</i>
       <a href="https://wa.me/message/EYAR4MZLZSYAL1" target="blank"><i class="bi bi-whatsapp text-success fs-4 m-2"></i></a>
       <a href="https://www.facebook.com/profile.php?id=100057184460888" target="blank"><i class="bi bi-facebook text-primary fs-4 m-2"></i></a>
       <a href=""><i class="bi bi-person-fill-exclamation fs-4 m-2"> Customer care</i></a>
    </li>
  </ul>

</div>
{% endblock %}