{% extends 'aoneedu/base.html' %}

{% block title %} RULES ANG REGULATIONS {% endblock %}


{% block content %} 



    <h1 class="text-center text-white fs-1 fw-bolder pt-5">COLLEGE RULES & REGULATIONS</h1>
<p class="fs-4 fw-bold text-white p-1">
        
PREAMBLE:  As an institution of higher learning, it is pivotal that conduct of students are guided by certain policies which are aimed at ensuring that students are well groomed for the next stage of their educational quest. It is with this goal that the following body of rules tend to achieve.

    <ol class="pb-5 mb-5 fs-4 text-white m-2 fw-bold">
        <li>Lectures resume at 9:00am daily and all students are to be seated before the commencement of all lectures.</li>
        <li>All students are expected to ensure a regular class attendance as qualification for the final examination is hinged on 75% class attendance.</li>
        <li>Indecent dressing in and around the college premises is prohibited. Lecturers are empowered to send defaulting students out of the class.</li>
        <li>Students are to come to class daily with the necessary learning materials for effective learning.</li>
        <li>Visit to students during the lecture hours is prohibited</li>
        <li>Any form of fighting, assault or molestation attracts an immediate expulsion from the programme.</li>
        <li>Certificate for all programmes will ONLY be awarded to students who have been found worthy in character and learning.</li>
        <li>All prescribed fees MUST be paid before students will be allowed to sit for the first semester exams and the final exams.</li>
        <li>All forms of academic indiscipline attract a period of suspension from the college management board.</li>
        <li>All complaints on academic interpersonal relationships must be routed through the class governors to the center coordinator.</li>
        <li>Any form of sexual relationship amongst students is prohibited. Defaulting students shall be rusticated from the programme without refund of fees paid.</li>
        <li>All forms of cultism and anti-social gathering are prohibited within and around the college environment. Any student found engaged in such act shall be rusticated from the college and handed over to the law enforcement agencies for prosecution.</li>
        <li>Prescribed code of dressing for students are: <ul>
            <li>i.Mondays, Tuesdays &Thursdays	-	Business casual</li>
            <li>ii.Wednesday 			-	-	Prescribed T-shirt & jeans</li>
            <li>iii.Fridays                                         -	-	Native Attire or Prescribed T-shirt</li>
        </ul></li>
    </ol>


</p>


{% endblock %}
